<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV Avila Victor</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <main>
        <header class="datosPersonales">
            <section class="fotoPerfil">
                <img src="./img/fotoperfil.jpg" alt="no se ecuentra disponible" width="200px" height="230px">
                <h1>Avila Victor Gustavo</h1>
                <p class="estudio">Estudiante de Desarrollo Web</p>
            
            <div class="datosUbicacion">
                <ul>
                    <li>Jose C. Paz, Bs.As Argentina</li>
                    <li>celular</li>
                    <li>victorg.avila@gmail.com</li>
                    <li>Linkedln</li>
                </ul>
            </div>
            <h2>PROFILE</h2>
            <div class="profile">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Tempore esse ea facilis magni praesentium excepturi sunt 
                    modi ullam deserunt nisi soluta officia et quaerat ut ducimus magnam,
                     dolore corrupti similique!</p>
            </div>      
            </section>

        </header>
        <header class="educacion">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
     Temporibus fugit dolore, tempora aliquam nemo amet porro?
      Eaque rem sapiente atque quo error.
     Animi dignissimos doloremque, officia iste quidem provident nihil?</p>
        </header>
        
    </main>
</body>
</html>