<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV Avila Victor</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <main>
        <header class="datosPersonales">
            <section class="fotoPerfil">
                <img src="./img/foto1.jpg" alt="no se ecuentra disponible">
                <h1>Avila Victor Gustavo</h1>
                <h4 class="estudio">Estudiante de Desarrollo Web</h4>
            
            <div class="datosUbicacion">
                <ul>
                    <li><i class="fas fa-map-marker-alt"></i></i>Jose C. Paz, Bs.As Argentina</li>
                    <li><i class="fas fa-mobile-alt"></i></i>11 5099-7019</li>
                    <a href="mailto:victorg.avila@gmail.com"><li><i class="far fa-envelope"></i></li></a>
                    <a href="https://www.linkedin.com/in/gustavo-avila-3a74994b/"><li><i class="fab fa-linkedin"></i><Linkedln</li></a>
                    <a href="https://www.github.com/gtiavo"><li><i class="fab fa-github"></i></li></a>
                </ul>
            </div>
            <h2>PROFILE</h2>
            <div class="profile">
                <p>Estudiante de programación dedicado a la busqueda de conocimientos relacionados a lo tecnológico. 
                    Excelentes habilidades analíticas, de gestión de proyectos y de trabajo en equipo,
                     obtenidas a través de mi formación universitaria, Profesor Universitario de Educación Física,
                     y  de distintos labores en el ámbito de la docencia, en escuelas y clubes.  </p>
            </div>      
            </section>

        </header>
        <header class="educacion">
            <section>
                <h2>EDUCACION</h2>
                <div class="estudios">
                    <ul>
                        <li><i class="fas fa-university"></i>Universidad Nacional de General Sanrmiento</li>
                        <li>Estudiante en Tecnicatura Universitaria en Informática</li>
                        <li>2021</li>
                    </ul>
                    <ul class="punteado">
                        <li><i class="fas fa-university"></i>Digital House</li>
                        <li>Estudiante de Programación Web Full Stack </li>
                        <li>2021</li>
                    </ul>
                </div>

                <h2 class="objetivos">OBJETIVOS</h2>
                <p class="estudios">Formar parte de un equipo de trabajo y consolidarme profesionalmente
                     en una empresa donde los logros personales y el desempeño sean reconocidos, 
                    además de permitir oportunidades de desarrollo personal y profesional.  

                    Superarme en todos los aspectos de mi vida, brindando lo mejor de mi cada día,
                     tanto en el aspecto laboral como en el aspecto personal. </p>

                <h2 class="objetivos">OTROS ESTUDIOS</h2>
                <div class="estudios">
                    <ul>
                        <li><i class="fas fa-university"></i>Universidad Nacional de José C. Paz</li>
                        <li>Profesor Universitario en Educación Física</li>
                        <li>2012-2017</li>
                    </ul>
                </div>
                <h2 class="objetivos">INTERESES</h2>
                <article class="grupoIntereses">
                <div class="intereses">
                    <i class="fas fa-mountain"></i>
                </div>
                <div class="intereses">
                    <i class="fab fa-xbox"></i>
                </div>
                <div class="intereses">
                    <i class="fas fa-running"></i>
                </div>
                <div class="intereses">
                    <i class="fas fa-book-reader"></i>
                </div>
            </article>
            

            </section>

        </header>
        
    </main>
</body>
</html>