*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    flex-wrap: nowrap;
    width: 90vw;
    margin: auto;
    border: solid 3px grey;
    border-radius: 10px ;
}

.datosPersonales{
    background-color: #9c9ea0;
    max-width: 50vw;
    display: flex;
    
}

img{
    border-radius: 100px;
    margin-bottom: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    height: 150px;
}

h1{
    margin-bottom: 30px;
    font-family: arial;
}
h2{
    font-family:  Helvetica;
}
h4{
    font-family:  sans-serif;
}
.estudio{
    margin-bottom: 15px;
}

.fotoPerfil{
margin:  0 0 15px 15px;
padding: 5px;
text-align: center;


}

div ul li{
    list-style: none;
}
.datosUbicacion{
   margin: 50px 0 50px 10px;
   border-top: solid 3px black;
   padding-top: 100px;
   padding-bottom: 100px;
   line-height: 30px;
   
}

.profile{
    border-top: solid 3px black;
    margin-top: 10px;
    padding-top: 10px ;
    
}

.educacion{
    display: flex;
    border-right:solid 6px black;
    border-bottom:solid 6px black ;
    border-radius: 10px;
    width: 50vw;
    text-align: center;
   
    
}

.estudios{
    line-height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-top: solid 3px black;
   

}
 p{
    
    margin:10px 10px 10px 10px;
    line-height: 30px;
    font-family: sans-serif;
 }

.objetivos{
    margin-top: 100px;
   
}
.punteado{
    border-top:dotted 3px black ;
}

i{
   font-size: 25px;
   margin-right: 10px;
}
.grupoIntereses{
    margin: auto;

  
}

.intereses{
    font-weight: 300px;
    margin-left: 50px;
    
}

@media (min-width:760px) {
    img{
        width: 170px;
        height: 200px;
    }
    .grupoIntereses{
        display: flex;
        flex-wrap: nowrap;
        text-align: center;
       
    }

    .intereses{
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
        
    }
}

@media (min-width:1000px) {
    .grupoIntereses{
        justify-content: space-between;
    }
    .intereses i{
        font-size: 40px;
        
    }
}
