*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    flex-wrap: nowrap;
}

.datosPersonales{
    background-color: #e8f3f3;
    display: flex;
    
}

img{
    border-radius: 100px;
    margin-bottom: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%
}

h1{
    margin-bottom: 30px;
}
.estudio{
    margin-bottom: 15px;
}

.fotoPerfil{
margin:  0 0 10px 10px;
padding: 5px;


}

.datosUbicacion{
   text-decoration: none;
   margin: 50px 0 50px 10px;
   border-top: solid 3px black;
   padding-top: 50px;
}

.profile{
    border-top: solid 3px black;
    margin-top: 10px;
    padding-top: 10px ;
}

.educacion{
    display: flex;
}